<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tasks" href="/tabs/tasks">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories" href="/tabs/categories">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Categorías</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
